<div class="row">
  <div class="col-md-12">
    <%= form_for @urlConvertor, class: "form-horizontal" do |f| %>
      <div class="form-group required">
        <%= f.label :Original_URL, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_area :original_url, size: "45x3", class: "form-control"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.submit "Generate shorten URL" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id='short_url_content'>
      <button onclick="window.history.back();">Back</button>
    </div>
  </div>
</div>


<script type="text/javascript">



    $('form').submit(function() {
      if( $("#url_convertor_original_url").val().length == 0 ) {
          alert("Please input an URL");
          location.reload();
      }
      var valuesToSubmit = $(this).serialize();
      $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: valuesToSubmit,
          dataType: "JSON"
      }).success(function(json){
          var str = json.short_url;
          $('#short_url_content').show();
          $('#short_url_content').empty();
          $('#short_url_content').append("<p> Generated short url is: "+str+"</p>");
          console.log("success", json);
      });
      return false;
    });
</script>
